@import '../../../utils/mixin.scss';

.main{
    @include button;
    border: none;
    color: white;
    background-color: #FF284C;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 700;

    cursor: pointer;
    &:hover{
        background: #FF627C;
    }
    &:active{
        background: #D10628;
    }
}