.contactWrapper{
    
    min-height: calc(80vh - 60px);
    max-width: 1300px;

    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.contactForm{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    width: 100%;
    max-width: 480px;
    min-width: 210px;
    padding: 25px;
    
    box-shadow: -1px 17px 39px 0px rgba(153,153,153,1);
    input{
        width: calc(100% - 10px);
        margin: 10px 0;
        padding: 10px 5px;
        border-radius: 10px;
        background-color: #E9EAEB;
    }
    button{
        width: 100% !important; 
    }
}
.contactAddress{
    margin: 0 auto;

    max-width: fit-content;
    display: flex;
    flex-direction: column;
    p{
        margin: 10px 0;
        display: flex;
        align-items: center;
    }
    img{
        margin-right: 10px;
        display: block;
    }
}

@media screen and (max-width: 880px) {
    .contactWrapper{
        justify-content: center;
    }
    .contactAddress{
        margin: 30px;
    }
    .contactForm{
        margin: 30px;
    }
}