.landingWrapper{
    margin-top: 60px;
}

.header {
    position: relative;
    width: 100%;
    height: calc(70vh - 60px);
    background-image: url("../../images/headerBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 130px;
}

.headerSlider{
    width: 100%;
    height: 100%;
    background: #0000007c;
    position: absolute;
}

.headerInfo {
    width: fit-content;
    height: 100%;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    color: white;
    z-index: 1;

    h1 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 3rem;
    }

    p {
        font-family: 'Nurito sans', sans-serif;
        font-size: 1.4rem;
    }

}

.servicesHeader {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.topServices {
    display: flex;
    justify-content: center;
    gap: 5%;
    min-width: none;
    flex-shrink: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.topService {
    padding-bottom: 20px;
    background-color: #E9EAEB;
    border-radius: 20px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;

    h3 {
        margin-left: 6%;
        margin-top: 2%;;
        font-size: 1.5rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
    }
}

.servicesPhotoSize {
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
    }
}

.serviceImage {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-width: 558px;
    max-height: 245px;
}

.topServiceFlex {
    display: flex;
    margin-top: 3%;
    margin-left: 6%;
    gap: 39.5%;
}

.servicesButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;

}

.servicesButton {
    align-self: flex-end;
    height: 42px;
    border-radius: 8px;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
    cursor: pointer;
    &:hover{
        filter: brightness(0.95);
    }
}

.orderButton {
    background-color: #55BC44;
    width: 111px;
}

.priceButton {
    background-color: #467EDB;
    width: 81px;
}

.bottomServices {
    display: flex;
    justify-content: center;
    gap: 5%;
    min-width: none;
    flex-shrink: 1;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 3%;

}

.bottomService {
    padding-bottom: 20px;
    margin-bottom: 2%;
    background-color: #E9EAEB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    h3 {
        margin-left: 6%;
        margin-top: 2%;;
        font-size: 1.5rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
    }
}

.bottomServiceFlex {
    display: flex;
    margin-top: 3%;
    margin-left: 6%;
    gap: 7.5%;
}

.workProcedureWrapper {
    display: flex;
    justify-content: center;
    min-width: 0px;
    min-height: 0px;
    margin-bottom: 5%;
}

.workProcedure {
    width: 1210px;
    display: flex;
    gap: 10%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 0px;
    min-height: 0px;
}

.howItWorksText {
    margin-top: 2.8%;
    h3 {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 5%;
    }
}

.workSteps {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 0px;
    min-height: 0px;

}

.workStep {
    background-color: #E9EAEB;
    max-width: 656px;
    max-height: 120px;
    border-radius: 10px;
    display: flex;
    min-width: 0px;
    min-height: 0px;
}

.workStepText {
    align-self: center;
    margin-left: 4%;
    width: 656px;
    min-width: 0px;
    min-height: 0px;
    h4 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
    }


}

.benefitsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits {
    h3 {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        text-align: center;
        
    }
}

.benefitsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 12%;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 166px;
    height: 166px;
    border-radius: 20px;
    background-color: #E9EAEB;
}

.benefitIcon {
    max-width: 65px;
    height: 65px;
    margin-top: -20px;
    margin-bottom: 7%;
}

.benefitHeading {
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.benefitInfo {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 100px;
}

.aboutUsWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 6%;
    margin-left: 13.8%;
    
}

.aboutUsHeading {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
}

.aboutUsInfo {
    h5 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        max-width: 300px;
        margin-bottom: 20px;
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        max-width: 362px;
    }

    span {
        color: hsla(350, 100%, 58%, 1);
    }

    margin-bottom: 10%;
}

@media (min-width: 1200px) {
    .topServiceImage {
        width: 558px;
        height: 245px;
    }
    }

@media (max-width: 1200px) {
    .bottomServices {
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }

    .orderButton {
        width: 111px;
    }

    .topServiceFlex {
        gap: 7.5%;
    }

    .topServiceImage {
        max-width: 362px;
        max-height: 245px;
    }

    .topService {
        min-width: 0px;
        * {
        min-width: 0px;
        max-width: 400px;
        }
    }

    .bottomService {
        min-width: 0px;
        * {
        min-width: 0px;
        }
    }

    .headerSlider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .headerInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        h1 {
            font-family: 'Comfortaa', sans-serif;
            font-size: 2rem;
        }
    
        p {
            font-family: 'Nurito sans', sans-serif;
            font-size: 1.1rem;
        }
    } 
}

@media (max-width: 900px) {
    .topServices {
        flex-wrap: wrap;
    }

    .workProcedure {
        flex-direction: column;
        align-items: center;
    }

    .howItWorksText {
        text-align: center;

        img {
            margin-bottom: 10%;
        }
    }
    
    .workStep {
        img {
            min-width: 0;
            min-height: 0;
        }
    }

    .topService {
        * {
        min-width: 0px;
        max-width: 362px;
        }
    }
}

@media (max-width: 870px) {
    .bottomService {
        * {
        min-width: 0px;
        }
    }
}

@media (max-width: 440px) {
    .topServiceFlex {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .topService {
        h3 {
            margin: 0;
            text-align: center;
        }
    }

    .serviceImage {
        min-height: 0;
    }

    .servicesButtons {
        margin: 0;
        gap: 5%;
    }

    .orderButton {
        width: 50px;
        font-size: 0.8rem;
    }

    .priceButton {
        width: 50px;
        font-size: 0.8rem;
    }

    .bottomServiceFlex {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .bottomService {
        h3 {
            margin: 0;
            text-align: center;
        }
    }

    .workStep {
        h4 {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.6rem;
        }
    }

    .aboutUsWrapper {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .aboutUsInfo {
        h5 {
            margin: 0;
            max-width: fit-content;
        }
    }
}

@media (max-width: 760px) {
    .bottomService {
    min-width: 0px;
    max-height: fit-content;
    }
}

@media (max-width: 400px) {
    .headerInfo {
        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .workStepText {
        h4 {
            font-size: 1.1rem;
        }
    
        p {
            font-size: 0.7rem;
        }
    }
}

@media (max-width: 768px) {
    .topService {
    min-width: 0px;
    max-height: fit-content;

        * {
        min-width: 0px;
        }
    }
}

@media (max-width: 700px) {
    .workStepText {
        width: auto;
    }

    .workStep {
        max-width: 656px;
        max-height: 120px;
        min-width: 0px;
    }
}